<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Delete Customer</title>
</head>
<body>
<h1>Are you sure you want to delete this customer?</h1>
<form action="#" th:action="@{/customers/{id}/delete(id=${customer.id})}" method="post">
    <p>Name: <span th:text="${customer.name}"></span></p>
    <p>Email: <span th:text="${customer.email}"></span></p>
    <p>
        <input type="submit" value="Delete" />
        <a href="/customers">Cancel</a>
    </p>
</form>
</body>
</html>